<div class="container">
  <div class="page-header">
    <h1>New Collection <span class="label label-primary">New</span></h1>
  </div>
  <div class="row">
    <div *ngFor="let p of newProducts" class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ p?.ImgUrl }}" alt="...">
        <div class="caption">
          <h3>{{ p?.Name }}</h3>
          <p>{{ p?.Price }}</p>
          <p><button class="btn btn-primary" role="button">Add To Cart</button></p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-header">
    <h1>Most Popular <span class="label label-default">Best</span></h1>
  </div>
  <div class="row">
    <div *ngFor="let p of bestProducts" class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ p?.ImgUrl }}" alt="...">
        <div class="caption">
          <h3>{{ p?.Name }}</h3>
          <p>{{ p?.Price }}</p>
          <p><button class="btn btn-primary" role="button">Add To Cart</button></p>
        </div>
      </div>
    </div>
  </div>
</div>