<my-empty-result *ngIf="cartService.empty"></my-empty-result>

<div *ngIf="!cartService.empty" class="container">
    <div  class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Shopping cart items -->
                    <tr *ngFor="let item of cartItems">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{ item?.imgURL }}" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ item?.name }}</a></h4>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
  <div class="input-group-btn">
    <!-- Buttons -->
    <button (click)="increaseQuantity(item, $event)" type="button" class="btn btn-success">+</button>
  <button (click)="decreaseQuantity(item, $event)" type="button" class="btn btn-danger">-</button>
  
  <input type="text" value="{{ item?.quantity }}" class="form-control" aria-label="..." onkeydown="return false">
</div>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ item?.price }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ item?.price * item?.quantity }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button (click)="removeItem(item)" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <!-- Summary -->
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td class="text-right">
                            <h5><strong>{{ (item?.price * item?.quantity) + shipping }}</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Estimated shipping</h5>
                        </td>
                        <td class="text-right">
                            <h5><strong>{{ shipping }}$</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h3>Total</h3>
                        </td>
                        <td class="text-right">
                            <h3><strong>{{ subtotalPrice + shipping }}</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a routerLink="/" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </a>
                        </td>
                        <td>
                            <a type="button" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                                </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>