<div class="top-background">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image:url(/content/images/backgrounds/bg1.jpg)"></div>
      <div class="item" style="background-image:url(/content/images/backgrounds/bg2.jpeg)"></div>
      <div class="item" style="background-image:url(/content/images/backgrounds/bg3.jpeg)"></div>
      <div class="item" style="background-image:url(/content/images/backgrounds/bg4.jpg)"></div>
      <div class="item" style="background-image:url(/content/images/backgrounds/bg5.jpeg)"></div>
    </div>
  </div>

  <div class="top-content">
    <div class="container">
      <nav class="navbar navbar-default navbar-static row">
        <div class="navbar-header col-md-2">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#upperNavbar">
                   <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#lowerNavbar">
                   <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" routerLink="/">Online Shop</a>
        </div>
        <div class="col-md-8">
          <div id="upperNavbar" class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
              <!-- Account -->
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <!-- Button trigger modal account -->
                  <!-- ADNOTATION - If token exist in localStorage user is authorized -->
                  <li><a *ngIf="accountService.tokenExpired()" role="button" data-toggle="modal" data-target="#accountModal">Login</a></li>
                  <li><a *ngIf="!accountService.tokenExpired()" (click)="logout($event)" role="button">Logout</a></li>
                  <!-- Button trigger modal account -->
                  <li><a role="button" data-toggle="modal" data-target="#accountModal">Register</a></li>
                </ul>
              </li>
              <!-- Language -->
              <li class="dropdown">
                <a role="button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="">Eng</a></li>
                  <li><a routerLink="">Pl</a></li>
                </ul>
              </li>
              <!-- Somethink Magic -->
              <li class="dropdown">
                <a role="button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">E?<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="">!!!</a></li>
                  <li><a routerLink="">???</a></li>
                </ul>
              </li>
              <!-- Search -->
              <li>
                <form id="custom-search-input" (ngSubmit)="search()" #searchForm="ngForm" novalidate>
                  <div class="input-group col-md-12">
                    <input [(ngModel)]="param.searchParameter" name="searchParameter" #searchParameter="ngModel" type="text" class="form-control"
                      class="search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                                    <button class="btn btn-danger" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <!-- /.nav-collapse -->
          <div id="lowerNavbar" class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
              <!-- Dropdown He -->
              <li class="dropdown dropdown-large">
                <a role="button" class="dropdown-toggle" data-toggle="dropdown">He<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large row">
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Clothes</li>
                      <li><a routerLink="/he/clothes/hats">Hats</a></li>
                      <li><a routerLink="/he/clothes/jackets">Jackets</a></li>
                      <li><a routerLink="/he/clothes/shirts">Shirts</a></li>
                      <li><a routerLink="/he/clothes/tshirts">T-shirts</a></li>
                      <li><a routerLink="/he/clothes/trousers">Trousers</a></li>
                      <li><a routerLink="/he/clothes/shoes">Shoes</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Accesories</li>
                      <li><a routerLink="/he/accesories/sunglasses">Sunglasses</a></li>
                      <li><a routerLink="/he/accesories/wallets">Wallets</a></li>
                      <li><a routerLink="/he/accesories/belts">Belts</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Dropdown She -->
              <li class="dropdown dropdown-large">
                <a role="button" class="dropdown-toggle" data-toggle="dropdown">She<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large row">
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Clothes</li>
                      <li><a routerLink="/she/clothes/hats">Hats</a></li>
                      <li><a routerLink="/she/clothes/jackets">Jackets</a></li>
                      <li><a routerLink="/she/clothes/shirts">Shirts</a></li>
                      <li><a routerLink="/she/clothes/tshirts">T-shirts</a></li>
                      <li><a routerLink="/she/clothes/trousers">Trousers</a></li>
                      <li><a routerLink="/she/clothes/shoes">Shoes</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Accesories</li>
                      <li><a routerLink="/she/accesories/bags">Bags</a></li>
                      <li><a routerLink="/she/accesories/sunglasses">Sunglasses</a></li>
                      <li><a routerLink="/she/accesories/jewellery">Jewellery</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Dropdown Kids -->
              <li class="dropdown dropdown-large">
                <a role="button" class="dropdown-toggle" data-toggle="dropdown">Kids<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large row">
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Boys</li>
                      <li><a routerLink="/kids/boys/tshirts">T-shirts</a></li>
                      <li><a routerLink="/kids/boys/trousers">Trousers</a></li>
                      <li><a routerLink="/kids/boys/shoes">Shoes</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Girls</li>
                      <li><a routerLink="/kids/girls/tshirts">T-shirts</a></li>
                      <li><a routerLink="/kids/girls/trousers">Trousers</a></li>
                      <li><a routerLink="/kids/girls/shoes">Shoes</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.nav-collapse -->
        </div>
        <div class="nav navbar-nav navbar-right col-md-2">
          <a class="shopping-cart" routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span>Shopping Cart</span>
          <br>
          <span>{{ cartCount }} item(s) - price {{ cartPrice | currency:'EUR':true }}</span></a>
          <!-- /.nav-collapse -->
        </div>
      </nav>
    </div>
    <!-- End Container -->
    <!-- PAGE CONTENT -->
    <my-account-modal></my-account-modal>
  </div>
</div>