<div class="bottom-background">
  <footer class="bottom-content">
    <div class="container">
      <div class="row">
        <nav class="col-md-4 col-md-offset-4">
          <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default" href="https://www.facebook.com/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a class="btn btn-default" href="https://twitter.com/"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a class="btn btn-default" href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a class="btn btn-default" href="https://www.tumblr.com/"><i class="fa fa-tumblr-square" aria-hidden="true"></i></a>
            <a class="btn btn-default" href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a class="btn btn-default" href="https://plus.google.com/"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </footer>
</div>